.mainContainer {
	background-color: floralwhite;
	opacity: 0.5;
}

h1 {
	font-family: Fascinate Inline;
	background-image: linear-gradient(180deg, #fff, #ffb9d3);
	font-weight: 400;
	background-size: 100%;
	background-clip: padding-box;
	filter: drop-shadow(2px 2px #ffb9d34f);
	font-size: 70px;
	text-align: center;
	margin: 20px;
	color: #6e0728;
  color: rgb(15, 15, 15);

}
